
  body {
    font-size: 17px;
  }
  
    html {
    font-size: 67%;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  /* Cart Navigation */
  
  
  .nav__logo span {
    color: #025dacf3;
  }
  
  .nav_wrapper{
    position: sticky;
    top: 6em;
    float: right;
    margin: 1.5em;
    transition: 0.9s ease-in;
  }
 
 /* ------ NAVBAR (copied from index.html) ------ */
  .nav-container{
    height: 15vh;
  }
  
  .navbar{
    width: 150px;
    height: 70%;
   /* background-color: #3d75eed5; */ 
    background: linear-gradient(
      rgba(2, 93, 172, 0.952),
        rgba(2, 76, 141, 0.801),
        rgba(1, 72, 134, 0.705)
    );
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 50% 0 0 70%;
    transition: right .8s cubic-bezier(0.8, 0, 0, 0.8);
  }
  
  .logo-container img{
    height: 100px;
    padding: 10px 30px 0 15px;
    float: left;
  
  }
  
  .close{
    right: 0;
  }
  
  .hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: #aca5a5;
    transition: all 0.8s;
  }
  
  .close .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }
  
  .close .line-2{
    opacity: 0;
  }
  
  .close .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
  }
  
  .nav-list{
    text-align: right;
  }
  
  .nav-items{
    list-style: none;
    margin: 25px;
  }
  
  .nav-link{
    text-decoration: none;
    font-size: 16px;
    color: #eee;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 0;
  }
  
  
   /* ------ Cart ------ */
  
  .cart__icon {
    position: relative;
    cursor: pointer;
  }
  
  
  .cart__icon span {
    position: absolute;
    top: -1rem;
    right: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1818;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .cart__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 2;
  }
  
  .cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 100%;
    height: 100%;
    padding: 1.6rem;
    border-radius: 2rem;
    z-index: 3;
    overflow-y: scroll;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
  }
  
  .fa-cart-arrow-down{
    font-size: 30px;
    color: #025dacf3;
  }

  .fa-cart-arrow-down:hover{
    color: #a0a3ad;
    transition: 0.3s ease-in-out;
  }

  .cart.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  
  .cart__overlay.show {
    visibility: visible;
  }
  
  .close__cart i{
    display: flex;
    justify-content: right;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #025dacf3;
  }

  .close__cart i:hover{
    color: #a0a3ad;
    transition: 0.3s ease-in-out;
  }
  
  .cart h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  
  .cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    width: 70%;
    margin: 2rem auto;
  }
  
  .cart__item div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart__item div span {
    cursor: pointer;
    font-size: 20px;
    color: #025dacf3;
  }

  .cart__item div span:hover{
    color: #a0a3ad;
    transition: 0.2s ease-in-out;
  }
  
  .cart__item img {
    width: 7.5rem;
    height: 7.5rem;
  }
  
  .cart__item h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  
  .cart__item p {
    font-weight: 700;
  }
  
  .cart__item .remove__item {
    cursor: pointer;
    color: #025dacf3;
    font-size: 18px;
  }
  
  .cart__item .remove__item:hover{
    color: #a0a3ad;
    transition: 0.2s ease-in-out;
  }

  .cart__footer {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .cart__footer h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .cart__footer .btn {
    display: inline-block;
    padding: 1.2rem 1.2rem;
    font-size: 2rem;
    margin-top: 3rem;
  }
  .cart__footer .btn:hover{
    color:  #030303af;
  }
  .cart__footer .btn:focus {
    outline: none;
  }
  
  
  /* ------ Products ------ */


  .products_title{
    padding-top: 9em;
    text-align: center;
    font-size: 1em;
    color:#486581d7;
  }

  .border{
    width: 90px;
    height: 7px;
    background: #00539cff;
    margin: 40px auto;
  }
  
  .product__center {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem 1rem;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem rgba(69, 108, 167, 0.61);
    border-radius: 20px;
  }
  
  .product__footer {
    padding: 1rem;
    width: 100%;
  }
  
  .product__footer h1 {
    font-size: 2rem;
  }
  
  .rating {
    margin: 1rem 0;
  }
  
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .spec-p{
    font-size: 15px;
  }
  
  .btn {
    display: inline-block;
    border: 1.8px solid #025dacf3;
    padding: 0.8rem 1.5rem;
    color: #222;
    font-weight: 500;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 15px;
  }
  
  .btn:hover {
    background-color: #025dacf3;
    color: #fff;
    border: 1px solid #025dacf3;
  }
  
  .price {
    padding: 15px;
    font-weight: 700;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  
  
  /* ------ Media section ------ */

 
  @media(min-width: 758px){

    .logo-container img{
      height: 150px;
      padding: 10px 30px 0 30px;
      float: left;   
    }

    .container {
      padding: 0 5rem;
    }

    .img-background{
      width: 100%;
      position: relative;
      top: 100px;
      z-index: -1;
    }

    .navbar{
      width: 180px;
      height: 60%;
    }

    .hamburger-menu{
      width: 40px;
      height: 40px;
      right: 40px;
    }

    .products_title{
      font-size: 1.3em;
    }

    .close .line-3{
      transform: rotateZ(405deg) translate(-13px, -10px);
    }

    .close .line-1{
      transform: rotateZ(-405deg) translate(-9px, 7px);
    }

    .nav_wrapper{
      top: 7em;
      margin: 2.3em;
    }

    .cart__item {
      grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    }
  
    .cart__item h3 {
      font-size: 1.7rem;
    }
  
    .cart__item img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
  


@media(min-width: 1024px){

    .container {
      padding: 0 3rem;
    }

    .cart {
      width: 60%;
      height: 70%;
    }
    .logo-container img{
    height: 150px;
     padding: 10px 30px 0 50px;
    }

    .hamburger-menu {
    width: 50px;
    height: 50px;
    }


    .close .line-1 {
    transform: rotateZ(-405deg) translate(-13px, 11px);
    }

    .navbar {
    width: 300px;
    height: 90%;
     }

    .nav-link {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 0;
    }

    .nav-link:hover{
      color: rgba(3, 3, 3, 0.685);
    }

    .img-background{
      width: 80%;
      top: 150px;
      left: 100px;
    }
    
    .nav_wrapper{
      top: 7em;
      margin: 2.5em;
    }

    .products_title{
      font-size: 1.5em;
    }


    .cart__item img {
      width: 10rem;
      height: 10rem;
    }

    .product__center {
      padding: 0 5rem;
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    }

    .spec-p{
      font-size: 20px;
    }
 }
