*{
  padding: 0;
  margin: 0;
  
}

body{
  font-family: "Dosis", sans-serif;
}


/* ------ NAVBAR  ------ */

.img-background{
  width: 100%;
  position: relative;
  top: 100px;
  z-index: -1;
}

.nav-container{
  height: 60vh;
}

.navbar{
  width: 150px;
  height: 70%;
 /* background-color: #3d75eed5; */ 
  background: linear-gradient(
    rgba(2, 93, 172, 0.952),
      rgba(2, 76, 141, 0.801),
      rgba(1, 72, 134, 0.705)
  );
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50% 0 0 70%;
  transition: right .8s cubic-bezier(0.8, 0, 0, 0.8);
}

.logo-container img{
  height: 100px;
  padding: 10px 30px 0 15px;
  float: left;

}

.close{
  right: 0;
}

.hamburger-menu{
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #aca5a5;
  transition: all 0.8s;
}

.close .line-1{
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.close .line-2{
  opacity: 0;
}

.close .line-3{
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list{
  text-align: right;
}

.nav-items{
  list-style: none;
  margin: 25px;
}

.nav-link{
  text-decoration: none;
  font-size: 16px;
  color: #eee;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 3px 0;
}

.banner{
  position: relative;
  bottom: 190px;
  margin-left: 1rem;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 700;
}

.banner span{
  color: #6e6868;
}

.banner-title{
  font-size: 50px;
  color:#00539cff;
}

.banner .word-four{
  color: #00539cff;
}

/* ------ About section  ------ */

.about-title{
  text-align: center;
  font-size: large;
  align-items: center;
}

.about-subtitle{
  padding-top: 80px;
  color:#486581d7;
}

.border{
  width: 90px;
  height: 7px;
  background: #00539cff;
  margin: 40px auto;
}



.about-us{
  text-align: center;
  justify-content: center;
}

.about-text{
  text-align: center;
  justify-content: center;
  padding: 30px;
  color: #000000;
}

.card-section{
  display: grid;
  place-items: center center;
  /*height: 100vh;*/
  /*PLay with this below, its the size of the cards in grid*/
  grid-template-columns: repeat(auto-fit,
  minmax(300px,1fr));
  padding: 20px;
  grid-gap:40px;
}

.card{
  background-color: rgba(0, 83, 156, 0.767);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(28, 96, 184, 0.747);
  /* here customize the border of cards */
  border: 3px solid #00539cff;
}

.card-container{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.card-container img{
  width: 100%;
  z-index: -1;
  /* Change the height according to media queries*/
  height: 250px;
  border-radius: 20px 20px 0 0;
  /* here customize the border of cards */
  border: 3px ridge rgba(110, 152, 231, 0.637);
}

.card-container:after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}


.card-details{
  padding: 20px 10px;
}

.card-details>h3{
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.card-details>p{
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

/* ------ Order section  ------ */

.order-button{
  display: inline-block;
  font-size: 18px;
  color: #fdfdfd;
  background: #486581d7;
  border: none;
  padding: 14px 15px;
  margin-top: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  border-radius: 8px;
}

.order-button:hover{
  background: rgb(35, 71, 187);
      color: #dce2e9;
}


/* ------ Gallery section  ------ */

.gallery-title {
  text-align: center;
}

::selection{
  color: #fff;
  background: #007bff;
}
.gallery-section{
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper{
  max-width: 1100px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.gallery .image{
    width: 100%;
    padding: 4px;
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img{
  transform: scale(1.1);
}

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  margin: 0 5px;
}
.details .title p.current-img{
  font-weight: 500;
}
.details .icon{
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box{
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev{
  left: 0px;
}
.slide.next{
  right: 0px;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}

  /* ------ Contact section  ------ */
  
  .contact-section{
    background: url(../images/contact-us.jpeg) no-repeat center;
    background-size: cover;
    padding: 50px 0;
  }
  .contact-section h1{
    text-align: center;
    color: #486581d7;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgba(230, 234, 236, 0.534);
    padding: 20px 40px;
    outline: none;
    color: #0823be;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
  }
  
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #378bdf;
  }

  textarea.contact-form-text{
    resize: none;
    height: 140px;
  }

  .contact-form-btn{
  font-size: 18px;
  color: #fdfdfd;
  background: #486581d7;
  border: none;
  padding: 14px 30px;
  margin-top: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  border-radius: 8px;
  }

  .contact-form-btn:hover{
    background: rgb(35, 71, 187);
      color: #dce2e9;
  }


    /* ------ Location section  ------ */

    
    #map{
      width: 200px;
      height: 300px;
    }

    .our-location p{
      float: left;
      padding: px;
      line-height: 40px;
      margin-top: 100px;
      text-align: right;
    }


    /* ------ Subscribe card section ------ */

    .mainlayout{
     background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container{
      max-width: 890px;
      padding: 5px 20px;
    }

    .sbform{
      position: relative;
      display: flex;
      margin: 40px 0;
    }
    
    .contentform{
      padding: 3em 3.5em;
      background: #ffffff;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 9px;
      border: 1px solid #ffffff;
      box-shadow: 15px 19px 45px -12px rgba(22, 61, 133, 0.9);
    }

    .contentform form{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .contentform h2{
      font-weight: 600px;
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 5px;
      color: #3b3663;
    }

    .contentform p{
      font-size: 16px;
      line-height: 25px;
      color: #6666;
    }

    .contentform input[type="text"]{
      margin-bottom: 15px;
      font-size: 16px;
      color: #999;
      text-align: left;
      width: 100%;
      padding: 14px 20px;
      box-sizing: border-box;
      border: 1px solid #378bdf;
      border-radius: 4px;
    }

    .contentform button{
      font-size: 18px;
      color: #fdfdfd;
      background: #486581d7;
      border: none;
      padding: 14px 15px;
      font-weight: 500;
      transition: 0.5s ease-in-out;
      border-radius: 8px;
    }

    .contentform button:hover{
      background: rgb(35, 71, 187);
      color: #dce2e9;
    }

    .social-icons{
      text-align: center;
    }

    .social-icons ul li{
      list-style: none;
      display: inline-block;
    }
    
    .social-icons ul li a{
      padding: 8px;
      color: #378bdf;
    }

    .social-icons ul li a span:hover{
      color: #6e6868;
      transition: 0.5s ease-in-out;
    }

    

  /* ------ @media q section ------ */


    @media(min-width: 680px){

      /* --- Logo section --- */
      .logo-container img{
        height: 100px;
        padding: 10px 30px 0 30px;
        float: left;   
      }


      /* ------ gallery section ------ */
      .gallery .image{
        width: calc(100% / 2);
      }

      .gallery-section{
        padding-left: 250px;
      }

      /* ------ Location section ------ */
      #map{
        width: 800px;
        height: 300px;
      }
      .our-location p{
        float: none;
       padding: 9px;
       line-height: 40px;
       margin-top: 100px;
       text-align: center;
       display: grid;
       align-content: center;
       justify-content: center;
      }
    }
    


    @media(min-width: 1024px){

      .logo-container img{
        height: 100px;
        padding: 10px 30px 0 30px;
        float: left;
      }

      .banner-title{
        font-size: 100px;
      }
      .gallery .image{
        padding: 7px;
        width: calc(100% / 3);
      }
    
      .gallery-section{
        padding-left: 380px;
      }
    }
