*{
  padding: 0;
  margin: 0;
  
}

body{
  font-family: "Dosis", sans-serif;
  
}


/* ------ NAVBAR  ------ */

.nav-container{
  width: 100%;
  height: 80vh;
  background:  /*linear-gradient(
      rgba(250, 250, 250, 0.993),
      rgba(162, 196, 240, 0.2),
      rgba(74, 84, 228, 0.4)
  ),/* Customization with linear gradient will follow later on, if required.*/
  url(../images/allcomponents-mobile-size.jpg) no-repeat right;
  /*background-size: cover;  - this will go into PC size*/
}

.navbar{
  width: 150px;
  height: 70%;
 /* background-color: #3d75eed5; */ 
  background: linear-gradient(
    rgba(0, 83, 156, 0.89),
      rgba(0, 83, 156, 0.801),
      rgba(0, 83, 156, 0.705)
  );
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 0 0 70%;
  transition: right .8s cubic-bezier(0.8, 0, 0, 0.8);
}

.logo-container img{
  height: 100px;
  padding: 10px 30px 0 30px;
  float: left;

}
/*.logo-container{
  height: 100%;
  display: block;
  float: left;
}

.logo-container h1{
  color: #00539cff;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 300;
  padding: 20px;
  padding-top: 40px;
  font-family: 'Fredericka the Great', cursive;
}

.logo-container span{
  font-weight: 700;
}
*/
.close{
  right: 0;
}

.hamburger-menu{
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #eea47fff;
  transition: all 0.8s;
}

.close .line-1{
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.close .line-2{
  opacity: 0;
}

.close .line-3{
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list{
  text-align: right;
}

.nav-items{
  list-style: none;
  margin: 25px;
}

.nav-link{
  text-decoration: none;
  font-size: 16px;
  color: #eee;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
 /* position: relative; */
  padding: 3px 0;
}




.banner{
  padding-top: 10rem;
  margin-left: 1rem;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 700;
}

.banner span{
  color: #eea47fff;
}

.banner-title{
  font-size: 50px;
  color:#00539cff;
}

.banner .word-four{
  color: #00539cff;
}

/* ------ About section  ------ */

.about-title{
  text-align: left;
  font-size: large;
  align-items: center;
  padding: 0 220px 0 10px;
}

.about-title .block-divider{
  border: 0.5px solid #d82e18;
}

.about-us{
  text-align: center;
  justify-content: center;
}

.about-text{
  text-align: center;
  justify-content: center;
  padding: 30px;
  color: #000000;
}

.card-section{
  display: grid;
  place-items: center center;
  /*height: 100vh;*/
  /*PLay with this below, its the size of the cards in grid*/
  grid-template-columns: repeat(auto-fit,
  minmax(300px,1fr));
  padding: 20px;
  grid-gap:40px;
}

.card{
  background-color: rgba(0, 83, 156, 0.705);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0);
  /* here customize the border of cards */
  border: 3px ridge rgba(110, 231, 116, 0.637);
}

.card-container{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.card-container img{
  width: 100%;
  /* Change the height according to media queries*/
  height: 250px;
  border-radius: 20px 20px 0 0;
  /* here customize the border of cards */
  border: 3px ridge rgba(110, 152, 231, 0.637);
}

.card-container:after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

/*

Linear gradient to add if 

.card-one>.card-container:after{
  background-image: linear-gradient(
    135deg,
    #d9d9eb,
    rgba(139, 100, 64, 0.658)
  );
}

.card-two>.card-container:after{
  background-image: linear-gradient(
    135deg,
    #53c437ce,
    rgba(230, 81, 81, 0)
  );
}

.card-three>.card-container:after{
  background-image: linear-gradient(
    135deg,
    #e4b022,
    rgba(35, 204, 77, 0)
  );
}

.card-four>.card-container:after{
  background-image: linear-gradient(
    135deg,
    #e422d4,
    rgba(83, 182, 107, 0)
  );
}
 */

.card-details{
  padding: 20px 10px;
}

.card-details>h3{
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.card-details>p{
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}


/* ------ Gallery section  ------ */

.wrapper-gallery{
  margin: 0 20vw;
}

#index-gallery {
  display: grid;
  /* With tamplates I will define a collums which i want to have - 4 1fr means we will have 4 collums */
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: 
  "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
  "img1 img2 img3 img4"
  "img5 img6 img7 img7";
}

#index-gallery .gallery-img{
  width: 100%;
  /* decide height urself*/
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* - Images  -*/

#index-gallery h2 {
  grid-area: gallery-h2;
}

#index-gallery .img1 {
  grid-area: img1;
  background-image: url("../images/img1.jpeg");
}
#index-gallery .img2 {
  grid-area: img2;
  background-image: url("../images/img2.jpeg");
}
#index-gallery .img3 {
  grid-area: img3;
  background-image: url("../images/img3.jpeg");
}
#index-gallery .img4 {
  grid-area: img4;
  background-image: url("../images/img4.jpeg");
}
#index-gallery .img5 {
  grid-area: img5;
  background-image: url("../images/img5.jpeg");
}
#index-gallery .img6 {
  grid-area: img6;
  background-image: url("../images/img6.jpeg");
}
#index-gallery .img7 {
  grid-area: img7;
  background-image: url("../images/img7.jpeg");
}






