*{
  padding: 0;
  margin: 0;
  
}

body{
  font-family: "Dosis", sans-serif;
}


/* ------ NAVBAR  ------ */

.nav-container{
  width: 100%;
  height: 60vh;
  background:  /*linear-gradient(
      rgba(250, 250, 250, 0.993),
      rgba(162, 196, 240, 0.2),
      rgba(74, 84, 228, 0.4)
  ),/* Customization with linear gradient will follow later on, if required.*/
  url(../images/allcomponents-mobile-size.jpg) no-repeat right;
  /*background-size: cover;  - this will go into PC size*/
}

.navbar{
  width: 150px;
  height: 70%;
 /* background-color: #3d75eed5; */ 
  background: linear-gradient(
    rgba(2, 93, 172, 0.952),
      rgba(2, 76, 141, 0.801),
      rgba(1, 72, 134, 0.705)
  );
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 0 0 70%;
  transition: right .8s cubic-bezier(0.8, 0, 0, 0.8);
}

.logo-container img{
  height: 100px;
  padding: 10px 30px 0 30px;
  float: left;

}

.close{
  right: 0;
}

.hamburger-menu{
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #aca5a5;
  transition: all 0.8s;
}

.close .line-1{
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.close .line-2{
  opacity: 0;
}

.close .line-3{
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list{
  text-align: right;
}

.nav-items{
  list-style: none;
  margin: 25px;
}

.nav-link{
  text-decoration: none;
  font-size: 16px;
  color: #eee;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
 /* position: relative; */
  padding: 3px 0;
}

.banner{
  padding-top: 10rem;
  margin-left: 1rem;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 700;
}

.banner span{
  color: #6e6868;
}

.banner-title{
  font-size: 50px;
  color:#00539cff;
}

.banner .word-four{
  color: #00539cff;
}

/* ------ About section  ------ */

.about-title{
  text-align: center;
  font-size: large;
  align-items: center;
}

.about-subtitle{
  color:#486581d7;
}

.border{
  width: 90px;
  height: 5px;
  background: #34495e;
  margin: 5px auto;
}

/* .block-divider{
  border: 0.5px solid #00539cff;
} */

.about-us{
  text-align: center;
  justify-content: center;
}

.about-text{
  text-align: center;
  justify-content: center;
  padding: 30px;
  color: #000000;
}

.card-section{
  display: grid;
  place-items: center center;
  /*height: 100vh;*/
  /*PLay with this below, its the size of the cards in grid*/
  grid-template-columns: repeat(auto-fit,
  minmax(300px,1fr));
  padding: 20px;
  grid-gap:40px;
}

.card{
  background-color: rgba(0, 83, 156, 0.767);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(28, 96, 184, 0.747);
  /* here customize the border of cards */
  border: 3px ridge #00539cff;
}

.card-container{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.card-container img{
  width: 100%;
  
  /* Change the height according to media queries*/
  height: 250px;
  border-radius: 20px 20px 0 0;
  /* here customize the border of cards */
  border: 3px ridge rgba(110, 152, 231, 0.637);
}

.card-container:after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}


.card-details{
  padding: 20px 10px;
}

.card-details>h3{
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.card-details>p{
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}


/* ------ Gallery section  ------ */

